<h1>{{title}}</h1>
<table *ngIf="groceryList">
  <thead>
    <tr>    
      <th>Quantity</th>
      <th>Item</th>
      <th>Price per Unit</th>
      <th>Total Price</th>
    </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let item of groceryList.items">
      <td>
        <button (click)="incrementItemQuantity(item.uuid)">+</button>
        {{item.quantity}}
        <button (click)="decrementItemQuantity(item.uuid)">-</button>
      </td>
      <td>{{item.name}}</td>
      <td *ngIf="item.price">${{item.price}}</td>
      <td *ngIf="item.price">${{item.price * item.quantity}}</td>
    </tr>
    <tr>
      <td><input [(ngModel)]="quantityInput" type='text' name='quantity' id='quantityInput'/></td>
      <td><input [(ngModel)]="nameInput" type='text' name='name' id='nameInput'/></td>
      <td><button (click)="addItem()">Add Item</button></td>
  </tbody>
</table>
