<h1>{{title}}</h1>
<div class="filterContainer">
  <label for="filter">Filter:</label>
  <input [(ngModel)]="filterInput" type="text" id="filter" name="filter" (ngModelChange)="filterChanged($event)"/>
</div>
<table *ngIf="groceryList$ | async as groceryList">
  <thead>
    <tr>    
      <th (click)="sort('quantity')">Quantity</th>
      <th (click)="sort('name')">Item</th>
      <th>Price per Unit</th>
      <th>Total Price</th>
    </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let item of groceryList">
      <td>
        <button (click)="decrementItemQuantity(item.uuid)">-</button>
        {{item.quantity}}
        <button (click)="incrementItemQuantity(item.uuid)">+</button>
      </td>
      <td>
        {{item.name}}
        <button (click)="removeItem(item.uuid)">x</button>
      </td>
      <td *ngIf="item.price">${{item.price}}</td>
      <td *ngIf="item.price">${{item.price * item.quantity}}</td>
    </tr>
    <tr>
      <td><input [(ngModel)]="quantityInput" placeholder="# items" type='text' name='quantity' id='quantityInput'/></td>
      <td><input [(ngModel)]="nameInput" placeholder="item name" type='text' name='name' id='nameInput'/></td>
      <td><button (click)="addItem()">Add Item</button></td>
  </tbody>
</table>
