<h1>{{title}}</h1>
<h3 *ngIf="totalCartPrice$ | async as totalCartPrice">Total Price: ${{totalCartPrice}}</h3>
<div class="filterContainer">
  <label for="filter">Filter:</label>
  <input [(ngModel)]="filterInput" type="text" id="filter" name="filter" (ngModelChange)="filterChanged($event)"/>
</div>
<table *ngIf="groceryList$ | async as groceryList">
  <thead>
    <tr>
      <th (click)="sort('quantity')">Quantity</th>
      <th (click)="sort('name')">Item</th>
      <th (click)="sort('price')">Price per Unit</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr app-grocery-item *ngFor="let item of groceryList" [groceryItemId]="item.uuid"></tr>

    <tr>
      <td><input [(ngModel)]="quantityInput" placeholder="# items" type='text' name='quantity' id='quantityInput' /></td>
      <td><input [(ngModel)]="nameInput" placeholder="item name" type='text' name='name' id='nameInput' /></td>
      <td><button (click)="addItem()">Add Item</button></td>
    </tr>
  </tbody>
</table>
